{% extends "base.html" %}

{% block title %} Product {% endblock %}

{% block content %}

<div class="Stepscontainer">

    <form method="POST" enctype="multipart/form-data" action="" x-data="{open:false, open2:false, open4:false, filename: '', filename2: '', open3: {{ open3|yesno:'true,false' }}}">     
        {% csrf_token %} 
        <div class="step"> 
            <h1>1. Upload Current Route</h1>
            <h2>Format: Excel</h2>
            <div x-show="open">
                <span class="fileStyle" x-text="filename"></span>
            </div>
            <input type="file" name="file" x-on:change="
            open = !open;
            filename = $event.target.files[0].name;
            ">
         </div>
        <div class="step">
            <h1>2. Upload New Stops</h1>
            <h2>Format: Excel</h2>
            <div x-show="open2">
                <span class="fileStyle" x-text="filename2"></span>
            </div>
            <input type="file" name="file2" x-on:change="
            open2 = !open2;
            filename2 = $event.target.files[0].name;
            ">
        </div>
        <div class="step">
            <h1> 3. Enter Google Maps API Key </h1>
            <input type = "text" name = "key">
            <a x-show = "open3" href = "/media/uploads/newRoute.csv" download> Download New Route </a>
            <button @click = "open4 =! open4" type = "submit"> Submit </button>
            <div x-show = "open4" class="load"> </div>

        </div>
</form>

    
</div>




<style>
    /*https://codepen.io/jake-lee/pen/jrJYON*/
 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 50px;
	height: 50px;
	margin: 110px auto 0;
	border:solid 10px #000000;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}
</style>






















<style>
    /*
   .Stepscontainer{
    border:5px solid orange;
   }
   */
   
    .step{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width:346px;
        min-height:277px;
        height:min-content;
        padding:20px 50px 20px 50px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1em;
    }
    #newRouteLink{
        color:black;
        font-family: 'Inter', sans-serif;
    
    }
    button, input{
        margin-top:10px;
    }
    form{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:1em;

    }
    h1{
        font-size:32px;
        font-family: 'Inter', sans-serif;
        width:255px;
    }
    h2{
        font-size:16px;
        font-family: 'Inter', sans-serif;
      
    }

    input::file-selector-button, button{
        font-family: 'Inter', sans-serif;
        background-color: black;
        padding:1em 2em;
        color:white;
        width:146px;
        height:auto;
    }
    input[type = "file"]{
        color: rgba(0, 0, 0, 0);
    }

    .fileStyle{
        font-family: 'Inter', sans-serif;
    }

   

    @media only screen and (min-width : 1200px) {
        form{
            justify-content: start;
            align-items:center;
            flex-direction: row;
            flex-wrap:wrap;
            gap:1em;
            height: min-content;
        }
        .step{
            width:32%;
            min-width: min-content;
    }
    }

</style>
{% endblock %}

<!--
    
<div class = "container">
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}" enctype = "multipart/form-data" action = "/upload">
        
            <h1> 1. Upload Current Route</h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}">
            <h1> 2. Upload New Stops </h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file2" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST">
            <h1> 3. Submit! </h1>
            <h2> Add new stops to the current route. </h2>
            <button type = "submit"> Submit </button>
        </form>
    </div>
</div>
-->